{minimum_otp_vsn, "27"}.

{project_plugins, [erlfmt]}.

{erlfmt, [write]}.

{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{pre_hooks, [
    {compile, "cargo build --release"},
    {compile, "sh -c \"mkdir -p priv && cp $(cat so-path) priv/lib{{name}}-native.so\""}
]}.

{post_hooks, [
    {clean, "cargo clean"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling
    ]},
    {plt_apps, top_level_deps}
]}.
